.img{

    height: 100px;
    width: 200px;

}

.card{
    border: 1px solid black;
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 10px;
     background-color: silver;
     margin-left:300px;
     margin-top: 50px;
     margin-top: 120px;
    
}
.App{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    
     
}
.ipt{
     height: 33px;
     width: 500px;
     margin-left: 500px;
     border-radius: 20px;
     padding-left: 20px;
}